.img-small{
  height: 250px;
  object-fit: cover;
}
.navbar-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar-brand-left {
  flex-grow: 1;
  margin-right: auto;
}

.navbar-nav-center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}
